@import 'vars';
@import 'fonts';
@import 'typography';
@import 'mixins';
@import '../scripts/**/*.scss';

body {
  font-family: 'OpenSansRegular', Helvetica, sans-serif;
  color: $font-color--light;
  background-color: $background--dark;
  padding: $half-space;
}

.table-hover {
  > tbody > tr:hover {
    background-color: $purple;
  }
}
